target/
.*.marks
.settings
.history
tags
client-libraries
.cache
.tag
/personal
test.exe
.idea/
*.class
*.iml
*.log
logs/application.log
logs/application.log
example/good/HelloWorld.exe
example/good/HelloWorld.idb
*.bak
example/test64.exe
.classpath
.project
